.modal {
    background-color: #61000f11;
}

.modal-content {
    width: 100%;
    height: auto;

    background-color: #fff8e7;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(79, 0, 0, 0.527); 
}

.title-car {
  font-family: "Unbounded", sans-serif;
  color:#fff8e7;
  font-size: 15px;
  font-weight: 500;

  text-align: center;
}

.modal-header {
    background-color: #800115
}

.modal-produtos {
    height: auto;
    background-color: #fff8e7;
    color: #80011479;
}

.modal-header .btn-close {
    color: red; 
    filter: invert(16%) sepia(99%) saturate(7181%) hue-rotate(8deg) brightness(101%) contrast(115%);
}

.modal-vlr {
    border: none;
    border-top: 1px solid #80011479;
}
 
.modal-total {
    font-weight: bold;
    color: #800115;
}

.btn-limpar {
    border: none;
    background-color: #800115;
    margin-left: -15px;
}

.btn-fechar {
    border: none;
    background-color: #800115;
    color: #fff8e7;
}
