
.container {
    padding-top: 150px;
}

.title1{
    font-size: 50px;
    color: #57000d;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
}

.title2 {
    font-size: 44.5px;
    color: #800115;
    font-weight: 500;
    margin-top: -20px;
    font-family: "Unbounded", sans-serif;
}

.txt {
    font-size: 17px;
    color: #a30018;
    text-align:justify;
    font-weight: 550;
    font-family: "Urbanist", sans-serif;
}

.txt2 {
    font-size: 16px;
    color: #000;
    text-align:justify;
}

.hr {
    border: none;
    height: 1px;
    margin: 15px 0;
    /* Usa um degradê linear transparente/cor/transparente */
    background-image: linear-gradient(
        to right,
        rgba(122, 0, 0, 0), /* Início transparente */
        rgb(122, 0, 4), /* Meio com 40% de opacidade */
        rgba(122, 0, 0, 0) /* Fim transparente */
    );
}

strong {
color: #800115;
}
.favs, .qll {
    width: 50px;
    height: 50px;
        
    background-color: #800115; 
    border: 1px solid #800115;
    border-radius: 10px; 
        
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
}
 
.favs, .qll i {
    font-size: 20px; 
    color: #ffffff;
}

.texto-lateral {
    margin-top: -55px;
    margin-left: 60px;
    font-size: 15px;
}

.img-pg1 .pacote {
    margin-left: 70px;
}

.favs, .qll {
    transition: 0.3s ease-in-out;
}

.favs:hover, .qll:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgb(255, 193, 193); 
}

.title-pt2 {
  font-family: "Unbounded", sans-serif;
  color:#800115;
  font-size: 30px;
  font-weight: 500;

}
.conteudos{
    height: 255px;
    background-color: #800115;
    color: #fff8e7;

    display: block; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgb(255, 193, 193); 
    border-radius: 15px; 
}

.conteudos:hover {
    transform: translateY(-15px); 
    box-shadow: 0 10px 15px rgb(255, 193, 193); 
    cursor: pointer;
}

.conteudos a.nav-link {
    display: block;
    color: inherit; 
    text-decoration: none; 
    height: 100%; 
}

.title-caixa {
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffefca;
}

.conteudo-caixa {
    font-size: 15px;
    margin-top: 10px;
}

.conteudos .icone {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: end;
    
    color: #ffefca;
}

/* Adiciona um espaço de separação acima do ícone */
.conteudos a.nav-link i.fas {
    margin-top: auto; /* Esta é a chave: empurra o elemento para o final do contêiner flexível */
    padding-top: 15px; /* Adiciona um espaço extra acima do ícone/frase */
}


